In [ ]:
%load_ext autoreload
%autoreload 2

# data

> Fill in a module description here

In [ ]:
#| default_exp data

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import numpy as np
import pandas as pd
from gxep.config import *

def load_data():
    #load csv from marker_data_path
    marker = pd.read_csv(marker_data_path)
    #load csv from training_data_path
    train = pd.read_csv(train_data_path)
    test = pd.read_csv(test_data_path)
    return marker, train, test

marker, train, test = load_data()

/mnt/c/Users/cltng/gdrive/gxep/data/GenomicMarkers.csv

In [ ]:
train

,genotype.id,replicate,tillering,leaf.size,maturity,plant.density,environment,yield
0,16511,1,0.331522,50.162086,183.285109,25,Dalby_Dry,195.845326
1,16512,1,0.331522,46.999032,178.502612,25,Dalby_Dry,214.700708
2,16513,1,0.202364,47.820026,192.200527,25,Dalby_Dry,197.179665
3,16514,1,-0.124731,51.092366,182.065940,25,Dalby_Dry,241.628670
4,16515,1,0.004426,50.113996,171.447907,25,Dalby_Dry,222.265913
...,...,...,...,...,...,...,...,...
17995,18006,2,0.359352,47.024942,152.145103,50,Emerald_Dry,97.988857
17996,18007,2,-0.152562,50.899653,180.855535,50,Emerald_Dry,118.806364
17997,18008,2,-0.152562,46.615183,180.516520,50,Emerald_Dry,102.565867
17998,18009,2,0.331522,43.851216,158.947579,50,Emerald_Dry,181.711145
17999,18010,2,0.331522,44.760751,160.412749,50,Emerald_Dry,108.514064

In [ ]:
test

,genotype.id,replicate,tillering,leaf.size,maturity,plant.density,environment,yield
0,16511,1,0.331522,50.162086,183.285109,75,Emerald_Wet,536.766736
1,16512,1,0.331522,46.999032,178.502612,75,Emerald_Wet,558.705973
2,16513,1,0.202364,47.820026,192.200527,75,Emerald_Wet,532.177698
3,16514,1,-0.124731,51.092366,182.065940,75,Emerald_Wet,539.575079
4,16515,1,0.004426,50.113996,171.447907,75,Emerald_Wet,572.774958
...,...,...,...,...,...,...,...,...
1495,18006,1,0.359352,47.024942,152.145103,75,Emerald_Wet,602.314556
1496,18007,1,-0.152562,50.899653,180.855535,75,Emerald_Wet,538.070536
1497,18008,1,-0.152562,46.615183,180.516520,75,Emerald_Wet,536.691037
1498,18009,1,0.331522,43.851216,158.947579,75,Emerald_Wet,584.407784
1499,18010,1,0.331522,44.760751,160.412749,75,Emerald_Wet,588.212600

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()